<footer class="page-footer">
  <div class="page-footer__row">
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        About Us
      </div>
      <ul class="page-footer__list">
        <li class="page-footer__list-item">
          <%= link_to "About AMA", "https://ama.ab.ca/about-ama/", class: "page-footer__link" %>
        </li>
        <li class="page-footer__list-item">
          <%= link_to "Careers", "http://careers.ama.ab.ca/", class: "page-footer__link" %>
        </li>
        <li class="page-footer__list-item">
          <%= link_to "Media Inquiries", "http://news.ama.ab.ca/", class: "page-footer__link" %>
        </li>
      </ul>
    </div>
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        Get in Touch
      </div>
      <ul class="page-footer__list">
        <li class="page-footer__list-item">
          <%= link_to "Contact Us", "https://ama.ab.ca/about-ama/contact-us/", class: "page-footer__link" %>
        </li>
        <li class="page-footer__list-item">
          <%= link_to "Locations", "https://ama.ab.ca/centre-locations-hours/", class: "page-footer__link" %>
        </li>
        <li class="page-footer__list-item">
          <%= link_to "Social Media", "https://ama.ab.ca/about-ama/social-media/", class: "page-footer__link" %>
        </li>
      </ul>
    </div>
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        Quick Links
      </div>
      <ul class="page-footer__list">
        <li class="page-footer__list-item">
          <%= link_to "Blog", "https://ama.ab.ca/blog/", class: "page-footer__link" %>
        </li>
        <li class="page-footer__list-item">
          <%= link_to "Knowledge Base", "https://ama.ab.ca/knowledge-base/", class: "page-footer__link" %>
        </li>
        <li class="page-footer__list-item">
          <%= link_to "Email Newsletters", "https://forms.ama.ab.ca/subscriptions", class: "page-footer__link" %>
        </li>
        <li class="page-footer__list-item">
          <%= link_to "Site Map", "https://ama.ab.ca/about-ama/site-map/", class: "page-footer__link" %>
        </li>
      </ul>
    </div>
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        Interesting Fine Print
      </div>
      <ul class="page-footer__list">
        <li class="page-footer__list-item">
          <%= link_to "Privary Policy", "https://ama.ab.ca/about-ama/privacy-policy/", class: "page-footer__link" %>
        </li>
        <li class="page-footer__list-item">
          <%= link_to "Terms & Conditions", "https://ama.ab.ca/about-ama/terms-conditions/", class: "page-footer__link" %>
        </li>
      </ul>
    </div>
  </div>
</footer>
