<footer class="page-footer">
  <div class="page-footer__container">
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        About Us
      </div>
      <ul class="link-list">
        <li class="link-list__item">
          <%= link_to "About AMA", "https://ama.ab.ca/about-ama/", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Careers", "http://careers.ama.ab.ca/", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Media Inquiries", "http://news.ama.ab.ca/", class: "link-list__link--white" %>
        </li>
      </ul>
    </div>
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        Get in Touch
      </div>
      <ul class="link-list">
        <li class="link-list__item">
          <%= link_to "Contact Us", "https://ama.ab.ca/about-ama/contact-us/", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Locations", "https://ama.ab.ca/centre-locations-hours/", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Social Media", "https://ama.ab.ca/about-ama/social-media/", class: "link-list__link--white" %>
        </li>
      </ul>
    </div>
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        Quick Links
      </div>
      <ul class="link-list">
        <li class="link-list__item">
          <%= link_to "Blog", "https://ama.ab.ca/blog/", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Knowledge Base", "https://ama.ab.ca/knowledge-base/", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Email Newsletters", "https://youraccount.ama.ab.ca/subscriptions", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Site Map", "https://ama.ab.ca/about-ama/site-map/", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to 'AMA Website', Rails.configuration.amaabca_site %>
        </li>
        <li class="link-list__item">
          <a href="http://amaroadreports.ca/">AMA Road Reports</a>
        </li>
      </ul>
    </div>
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        Interesting Fine Print
      </div>
      <ul class="link-list">
        <li class="link-list__item">
          <%= link_to "Privacy Policy", "https://ama.ab.ca/about-ama/privacy-policy/", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Terms & Conditions", "https://ama.ab.ca/about-ama/terms-conditions/", class: "link-list__link--white" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="racetrack"></div>
</footer>
