<li class="dashboard-nav dashboard-title <%= nav_item.active_class %>">
  <span class="nav-icon fa <%= nav_item.icon %> <%= nav_item.active_class %>"></span>
  <%= link_to nav_item.text, nav_item.link,
      target: nav_item.target,
      class: nav_item.active_class %>
  <%= nav_item.sidebar_sub_nav %>
</li>
