<!-- need to decide how to handle these links -->
<nav class="appmenu grid-3 collapse">
  <ul class="menu">
    <li><%= link_to "Dashboard", youraccount_dashboard_path, class: active_page(youraccount_dashboard_path) %></li>
    <li><%= link_to "Profile<br/><span>Change password / Email</span>".html_safe, gatekeeper_profile_path %></li>
    <li><%= link_to "Billing<br/><span>Statements / Reward options</span>".html_safe, youraccount_billing_path, class: active_page(youraccount_billing_path, youraccount_automatic_credit_card_renewals_path, youraccount_ebill_path, youraccount_reward_dollars_path) %></li>
    <li><%= link_to "Membership<br/><span>Print cards / Change address</span>".html_safe, youraccount_membership_path, class: active_page(youraccount_membership_path, youraccount_new_membership_update_path, youraccount_memberships_printcard_path) %></li>
    <li><%= link_to "Subscriptions<br/><span>Newsletters / Reminders</span>".html_safe, youraccount_subscriptions_path, class: active_page(youraccount_subscriptions_path) %></li>
    <li><%= link_to "Westworld<br/><span>View online / Change address</span>".html_safe, youraccount_westworld_path, class: active_page(youraccount_westworld_path) %></li>
    <li><%= link_to "Sign Out", logout_path %></li>
  </ul>
</nav>
