<li><%= link_to "Profile", gatekeeper_profile_path %></li>
<li><%= link_to "Billing", youraccount_billing_path %></li>
<li><%= link_to "Membership", youraccount_membership_path %></li>
<li><%= link_to "Subscriptions", youraccount_subscriptions_path %></li>
<li><%= link_to "Westworld", youraccount_westworld_path %></li>
<li class="dropdown-divider"></li>
<li class="menu-logout"><%= link_to "Sign Out", logout_path, class:"link_logout" %></li>
