<div class="header">
  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large">
    <button class="menu-icon" type="button" data-toggle="offCanvasLeft"></button>
    <%= link_to(image_tag("ama-logo.png"), "https://www.ama.ab.ca", class: "title-bar__logo") %>
    <a href="#" data-toggle="offCanvasRight">
      <i class="fa fa-2x fa-bell notification__icon"></i>
      <%= navigation.notification_badge %>
    </a>
  </div>
  <div class="top-bar" id="main-menu">
    <div class="top-bar-left">
       <%= link_to(image_tag("ama-logo.png", class: "top-bar__logo"), "https://www.ama.ab.ca") %>
    </div>
    <div class="top-bar-right">
      <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
        <%= navigation.notifications %>
        <li>
          <a href="<%= Rails.configuration.gatekeeper_site %>/help" target="_blank">Help</a>
        </li>
        <li>
          <a href="<%= Rails.configuration.amaabca_site %>/membership/contact-us--centre-locations-hours-and-contact-information">Contact Us</a>
        </li>
        <%= navigation.account_toggle %>
        <%= navigation.top_nav %>
      </ul>
    </div>
  </div>
</div>
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
  <h2 class="side-nav__header">Online Account</h2>
  <div class="side-nav__content">
    <ul class="side-nav__list">
      <%= navigation.account_toggle %>
      <%= render partial: "ama_layout/main_nav_item", collection: navigation.items, as: :nav_item %>
      <li class="side-nav__item">
        <a class="side-nav__link" href="<%= Rails.configuration.amaabca_site %>">AMA Website</a>
      </li>
      <li class="side-nav__item">
        <a class="side-nav__link" href="http://amaroadreports.ca/">AMA Road Reports</a>
      </li>
      <li class="side-nav__item">
        <a class="side-nav__link" href="<%= Rails.configuration.gatekeeper_site %>/help" target="_blank">Help</a>
      </li>
      <li class="side-nav__item">
        <a class="side-nav__link" href="<%= Rails.configuration.amaabca_site %>/membership/contact-us--centre-locations-hours-and-contact-information">Contact Us</a>
      </li>
      <%= navigation.sign_out_link %>
    </ul>
  </div>
</div>
<div class="off-canvas position-right right-sidebar" id="offCanvasRight" data-off-canvas >
  <div class="row column right-sidebar__header">
    <h2 class="mt1">Notification Centre</h2>
    <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row column">
    <p class="mt1">Most Recent Notifications</p>
  </div>
  <div class="row right-sidebar__content--active">
    <div class="small-2 column">
      <div class="right-sidebar__content-icon--red">
        <i class="fa fa-exclamation-triangle right-sidebar__notice-icon"></i>
      </div>
    </div>
    <div class="small-10 column">
      <p class="bold">Your membership is past due.</p>
      <p>Your membership expired on July 1, 2017.
      <a href="#">Renew Now</a> to avoid penalties.</p>
      <p class="micetype">17 seconds ago</p>
    </div>
  </div>
  <div class="row right-sidebar__content--inactive">
    <div class="small-2 column">
      <div class="right-sidebar__content-icon--orange">
        <i class="fa fa-exclamation right-sidebar__notice-icon"></i>
      </div>
    </div>
    <div class="small-10 column">
      <p class="bold">Your membership is up for renewal.</p>
      <p>Your membership will expire on July 1, 2017.
      <a href="#">Renew Now.</a></p>
      <p class="micetype">35 days ago</p>
    </div>
  </div>
  <div class="row column">
    <p class="mt1">Did You Know?</p>
    <div class="section-content">
      <p class="bold">Renew Your Membership Automatically</p>
      <p>You can sign up for automatic membership renewal to have your membership
      renewed automatically every year. We will simply send you a receipt when it's all done, and you can unsubscribe at any time.</p>
      <div class="button--right">Sign up now</div>
    </div>
  </div>
</div>

<div class="javascript_errors error_notification" hidden></div>
<noscript>
  <div class="mt1 large-12 columns text-center error_notification">
    <h2 class="mt1">There seems to be an issue with your browser.</h2>
    <h5>Javascript is disabled in your web browser.</h5>
    <div class='fieldset text-center small mb1 block'>
      For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>
    </div>
  </div>
</noscript>
