<header class="grid-full header" id="header">
  <div class="logo grid-1 alpha">
    <a href="http://www.ama.ab.ca">
      <img alt="Back to AMA main site" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlgAAAEBCAYAAACkD9t+AABGQklEQVR42uza
      P0tWcRzG4a+QRIRoQ0QQLfYChCahxtoqX0BjawRNgotBg5Nz5NgWNDW0Ba01
      uEdTuhZBYOpyvDnYG3ieRz1/rg9c8zn8zm+4h1NN0wAAMEOjPwAAAAMLAMDA
      AgAwsAAAMLAAAAwsAAADCwAAAwsAwMACABj0wJKGUO7yZnSho/gT+/Ejvsan
      eBev41msxuWSJrvrazFpKyVp0gwsGVg96Dg+x/O4XpKBJRlYkoE10/7Fm7hd
      koHVt+9xI97Go5KBZWDJwOpkB7ERl0oysLr+Ha7ERvyNJq2VDCwDSwZWp/sS
      N0sysLp4/nPxNPaizcAysAwsGVj96WfcKcnA6tLZ349v0WZgGVgGlgysfrbv
      vywZWJ048+X4EG0GloFlYMnA6n+7cbUkA+sizvpabMdxNAaWDCwZWMNqpyQD
      6zzPeD5exO9oM7BkYMnAGmYPSjKwzut8v0ebgSUDS2O/9EMfWLsxVxp9BtbZ
      1pxmYMnAkkYxsNqelEafgWVgycCS+jKwtmJpSrdiOVbiXjyMl/E+DmIWfSyN
      PgPLwJKBJfVlYG2e8bstxKs4jGk6isXS2O+6gWVgycCSDKz/5Tl345ef3WVg
      GVgysCQDa7bv+Timab10wt7dhlZZBmAcf+aZa4q5Yy6VZmlpOKyJWmlqNJ1F
      RM2MikzNkuyDlZFCWB8UFLMRLmOGSonKaFrNgZkQWR80NcllTpNexBearylb
      zrkdXWz0/xAkNWnnvu/nOfdh1x9+VHq256Wju8jTTmd/rmtgaWApDSylNLDa
      OdcvYNrqQHX257oGlgaW0sBSSgPL8RfIjYHq7M91DSwNLKWBpZQGVjvnegNM
      2xyozv5c18DSwFIaWEppYF3jfC/CpPURn+dgPIMSVKEav6EJ/+4SLuAk9uNz
      rMKbKEa/NHge3Y7pKMNWHEI9Eri6BE6gGp9iMR5HHw0sDSxPrqMbJmA+yrEH
      te08lxtxDt+jEksxCX0CpYGlVBoOrJMwqTSCcxuHlaiF6w6jFCM8eu6MQanD
      692PBRjg48CyOG4+6mHb8s78jYkjeHPqF7ENl2HbQSzAkEBpYCkNrDQZWJdh
      0qyQzqcLpuAQomo7RgU22V9vNcKqDZsxIt0HFh/XF8dh21pkaGA5v56hWIcE
      wmobHuzsb9mlgaU0sPx+DdZtMO3OkP5YbCdS1Qb0jvD+j8U+RNk69ErHgcXH
      dMde2LYJsc7+1lqOr2MgNqINUbULIzSwNLCUBpaPA+tVmHQOXRyfSzEakepO
      4O6Q73sWliNVncaYdBpYPD6Gz2Dbl8jSe5fyRdfN+ccwHwmkojaUIVsDSwNL
      aWD58o1Gs1ALk1Y4PpdpaIUvNWJcSPc9D3uR6lowNY0GVhls243uenN4Igfn
      3g874UM1GKKBpYGlNLB8GFjLYFIb8h2ex8NohW/VY2AI/yfkEfhSK6b4PrB4
      7DzYVoOcgDSwiCzPexhOwacacL8GlgaW0sAyH1j2L6p+C6ZVODyXW3EBvva1
      w2u9BSfhW1dwn68Di8c94WCA/4obA9LA+ieLcx6NBvhYApM0sDSwlAZWpAOL
      z1+EvTDtIvIcDr0d8L1CB9faEwfha6eR69vA4jFj0QybatE/IA0s+4HFh92B
      OvhcCyZqYGlgKQ2spAcWj7se8Wvoj3zcgwmYiRU4Ctuec3ifnkU6tN7BtVbC
      9zb5NLD4+UE4D5vOYXBAGlj/zfCdH44hHWrAcA0sDSylgZUOrQrlBfb+d9b6
      Bfzp00M+DCx+LheHYVMDCvT7hdOBtQXp1FH01MDSwFIaWD5XgZjDezQTNp3C
      MhRjMHohjj4YhIl4BVVIwLZBhtcZRz1sa8JHmI6Cq643D6PxGnbBtkPISOXA
      4sezHVxLM+7V7xfuBhYPfx6u2oF5GIu+iKMXCjAd5WiCiz7WwNLAUhpYvvYe
      Yo7v0Q8wqRULkZ3kyFkDmyYbXudS2NSK5cjt4PFGYb/ttaZqYPFjGaiETS14
      IPC19gdlvF3mTUP8/yT5a+g8bNuKoR08Zg4W4TJse1QDSykNLJ+qw9Mh3J9h
      MG2GxXE/gGlzDI6Xi2aY1oAiwy/YW2DazhQOrHccDNLJerNn7oHb83gXNiUw
      w+J9J3+GTUdxnQaWUhpYqS6B99E7pPuzBCattDxuDi7CpBKD470O05ow2uJa
      u+EATBsa9cDin18CkeUA18BiYLk7h35IwLQGjLE8hzi+g01zNLCU0sBKdWdQ
      iuEh3Z8aJNsfiDs49gaYVJ7kcTJwBKbNcvI+h+YtiXJg8fePoFVfQL0cWItg
      2p8odHQeOTgM044jUwNLKQ0sX/oWjyHD4f25CUV4GWX4CrVRfH+wv49p0uYk
      jzMSplUjw9H17oFJv0Q1sPjrXWiCTQsC0sByO7D4PF3xO0x7w/H9KEALTHtS
      A0spDSzf+gYFId+3HhiJaViMShxEM252dIxJMGl7ksdZCNOecnhPZ3fgjyIP
      oAoleAGFyItiYGEAzsCm0oA0sEIZWMUw7UdkhnBP3oZpVRpYSmlg+dgVzA0i
      zvF/PRsf0cDaDZMakOXwevNNR1QEA2s8foJNa5ChgRXawKqAaVNCuie5uAST
      EuihgaWUBpavrUUs8Dn3A2tfEsfIRAImbXI9Tg0GSFQD6xhs+gSxgDSw3A8s
      PkcMdTDpLGIh3pcPYVqxBpZSGlg+V4EuafLvoysKsRrnYVJNUq8TMW9u4H/2
      A8u+OmQHpIEV2sAaDtNWhHxfJsK0Eg0spTSwfK/E0/ufiZGYgy1ohEHGA2sq
      TCvSwOpwMzWwQh1Ys2FacQTfnLUZJu3QwPqLvbsNzaoO4zh+78GllTpNc/rC
      1Gia6ZpNMxXzoVB8SDI0FbNGIQkKqZTMUDRYS1JwUFHZg9MSDNPUzIrMZilu
      JBSVyiTyAWvaTJ0uXWtbfQlf+KLsPtf1P/+dw3194fMudv738W78avM+lpWa
      A2sFshU6oQfyMAzj8DiWYy0OwWVjI3C/e2EqSrAbdZCnH1hFkHaLDaykO412
      NrBCG1gvQ1pnD/dmHySdtoFlWak5sJZ7OF8OluAMtB1DG89jahpWYjdq4aM9
      Ac74CqRl2cAK1CobWKENrE+jPGCUj7+63gaWZdnACvOcnbAF2opCPONtmIv3
      UYOWqjzAmTdD0oUE2cAKVAN628AKZWB9D0mVnu7NEkjrawPLsmxghX3WNKyB
      pmq0cnim21GMw9Dnf2B9BEmnbGCJ+tgGVigD6xgk7fB0b2ZDWoENLMuygeXr
      l8L3glr0G/oElENQdAaW4jUcs4ElbqINLOf/Pp6BpI2e7s1jkDbSBpZl2cDy
      deZ8aFqn/DHg5/gnG1g2sAQdQZYNLKcDqxqSyjzdm4cgbZQNLMuygeXz3F9C
      2gnhNafhIqLeJx4G1lkbWKoW2cBy+yPCiP8frEJIu9cGlmXZwPJ57meg6SbB
      5+zEpa0BXtdOSLpkA0vVBeTYwHI2sA5G/HewnoS0fBtYlmUDy+e574OmwQGu
      NQ6CYjGwtkBaaxtYf22DtDIbWM4G1p6I/y3CZZDWywaWZdnA8nnuftA0Kcnr
      dEUNfHQR+7AKUzDDw8B6FdJ6pPjAKkI6vtUMfRtYTgbWxoh/DtbbkNSITBtY
      lmUDy+e5c6FpcpLXeQuua0IVNmEpHkRPpAke9qwdWIshbVQKD6ziq77uaEir
      RJoNLPW1SyCtk4d7UwlJR+2T3C3LBpbvcw+GpklJXONWNELbOWzCfNyTxCcz
      awfWBwHu4yxIm5uiA2v1v3ztbZBWaAOrRX+JfGLI96UN6iHpQxtYlmUDy/e5
      Z0LTiCSuUQxNezEeGcLXOBGSygJcIw/S1obw5zoHv6EC72AZZmIQOkRgYK1B
      2n/8H9UGSDqFdjawhOnfxy+FfF/GQlqRDSzLsoHl+9yvQ1NuEteogrTFSFe+
      xikeBlYr/OHns7D0v0tz1fhah6WYjgK09zCwNiDjGl+/FNJeTOGBVejoA4jr
      IKkaGR5+/0rScBtYlmUDy+eZb8BZSKtH5v9coyOkvdbCj9coC3id/ZCW5/DP
      NR3VkFQa8sDanuR75iwkNSA35t9LmlQDS3/9HZA2LaxnqCqG36/IsIFlWTaw
      fJ65CJoOJHGNUZDWz9HrXOlpYC2HtFKHf673Q9oDIQ+s/CRfw1OQtjPm30vO
      t/DAmgNp3yEzhHuyQvsfajawLMsGlq/zjkYDNJUkcZ2HIa2towdbH/Q0sAZC
      Wh1ynP14UFY92kVkYLVCFaSNt4Elvv7NaIK0Isf3oz8aIG2YDSzLsoHl66yT
      cAnahob8t5LucvBap0PaVsGY+xHS3nPwevuiEZI2J8jDwArwPtU9pzDFBtZ8
      h2fYDml/YoSjc7THEUirSJANLMuygRX2GXtjPVz0E9JDHlhvKl9vAWo1A0tw
      zUXQ9LTi9WZhP6RNic7AIlI+EHxRTL+XnISk5x2eYQw01WKIg3FVCU2TbWBZ
      lg0syTXbIvuKjuhxRU8MwGjMQgn2oxmuWiD4iARJjyg+z+cCNJULf7xyGZqW
      IE0wrjZA2s/IjODAykNzSjynUP/A5fWOz1EBTZfwqPDafXAYmr5Cmg0sy0ql
      gRX/zqN9gB9ZaWpGMVon+SO6caiAi74WvhdegLZduCPJ6w1AJTQVJcjHwBLc
      zzdS6TmFnPkbSPodudf4utdhYIBzjICLtqFvktdsh+dQD01NyE+QDSzLsoEV
      pxYGuC8ZqIW2X7ACY9Ad2eiMPpiK1TgBlx0VvheycQ7amrEL83A3OiMb3VCA
      edgFbdW4McIDKwcXU+U5hZz3M0g7hUJ0RQfciSewEbU4EvAs78JV5ViAoeiC
      bHRAf8zEOtS5fASTDSzLsoEVp6qQFfDebEEcu6z6hPz4NDtBvgaW8H4+i9g/
      p1D93E599QHP0hEnEaf2IsMGlg0sywZWnGrEENGjVeJbF8V7YjOi3hdIi8HA
      aoPjqfCcQs66MErvaf75YWhAHDqObgmygWUDy7KBFafmKz5Z/BDi2Ejl34L6
      AVGtBt09D+Z8xf2cAUHxek4h5xyOMBskONMsRL0a9E6QDSwbWJYNrDhVqrw/
      E9CSHUATglakfN1/s3cvITbFARzH/zePmfG8ZCHRkFlQUl5FWXjssKApG1LC
      iBWJpcXkUSRSU5MkViOvZCPKW5NnKRbTkEcsvBt5DMPId2FxNop7zzn3nuP7
      qW+zm/mfk3F/5mZOPb2gatND8wMyNLAKdCPvzynknP2oi5LSWOK51lFvFY+r
      qQEOLAeWHFhZspsKsT2sNX0XaWCJL87nYrjuBnpK1aKXlgRkZGBFv/YsQr6f
      U8g5D1BSNpZxrkb6QtXkMTUEOLAcWHJgZUU3rYrxHtVSO6XpOA0I4GMz/atv
      NDSGax9Nd6nSPtKCgOwNLIDP0Zb35xRyzon0g5KwN4ZH13RQNThLIwIcWA4s
      ObCy4jpNSOA+DU1pZPXSVirE8NOPlTFdew21UKU8oMkBGR9YY6k7788p5Jzb
      KAknYzhbHe2kngr+428LFQIcWA4sObCy4CYtpkKC96qGDlFSOmjmH34n1zv6
      V+0xX/9cepDyi9F2qg3I8MCKnmFHjp9TGP3PIUcobrdjPGMDtdFPSsspGht+
      c2A5sOTAqlY/6TY105SU79kiekRxeUsbqH8Cby9Nj/na+9LKhIfWZ2qh+hCR
      k4E1mF7m/TmFnLNAG+gzxeVVAuccT/upi5LQS8doRgj//WuNA0sOrJR0UbTn
      9PR3D+ketdNlOk0HaRetptlUDJURHRrL6RqV6i410aC/+HorqBQnEnwBnUet
      9JrK1UMXqImGhYicDKzoOdYQ8v+cQs46ivaWOWCe0R6akeA5a2kpHaX3VK4b
      tInGBDmwlAHJ/cVSTLiBOb+HI2kFtdBVekJfKToe3tItOkxraVwJg65YQkNS
      ektoEjVRK52nTuqi7xT1gTrpOh2mzTSH6lL6NQLFEusT8/0qllG/DH6P1NAi
      2kNX6EX0zwa+0Hu6T2doHy2jcRU4ax+aRuvpAF2iR/SJoj7RG7pDx2g7LaTh
      QQ4sSZIkB5YkSZIDS5IkyYHlwJIkSXJgSZIkObAkSZIcWA4sSZIkB5YkSZID
      S5IkyYElSZIkB5YkSZIDS5IkyYElSZIkB5YkSZIDS5IkyYElSZLkwHJgSZIk
      ObAkSZIcWL/YO9fgKKs7Di9BQAJWxUEU67TY8TLaqRmB6lRxSp0iKrYdEAVj
      wVJlYFRAUgpoxdA6agUVL4ykXIIkQISskRCuEuQSSABpIEASEi5JIBcCuW2u
      u5vsr785HyjEzSQme3nP2f8z83zIZMiH3Xd4nznnvP9XEARBEARBAksCSxAE
      QRAEQQIr2ADoSQfSCDqc/on+mU6lM+g/aHQbzqIz6CQ6lj5BH6Z30xtsgiAI
      giBIYJkIgOvoYBpJ36AxdCvNoZXwLy5aQjPoOrqAvkqfpINomE0QBEEQBAks
      qwKgO72PRtKFdAc9D2vTRLNoAp1NR9D+NkEQBEEQJLCCAYB+dBR9j+6mDegC
      Hg9QVedESWU9Tpc5kHnmEvblliE1qxhJBwqUyYcK8d3xkqvcm12KowUVKCiv
      Vf+ef8cXFNG1dBodQq+xCYIgCIIggeVrAITTEXQBzaQdTpnaRheOnK1AYvoZ
      fJR8DK/HpuOZBTvwm7nJuOvVdbhxwirYRi/1mddFrsRtL63BfdMTMWL+Zkz8
      dBfmxh/E4i0n8HXGWWTkXUBxRT1+BA6aTKfTX9oEQRAEQZDA6iwABtLJdBNt
      RDs0uZpxML8cS7/NxfTl6Rg+LwW3TIpX0WNFw8fH4lev21XsvbH6EFaknkRa
      ThkqapvQDufoYjqS9rIJgiAIgiCB1YGomkYz0A7nK+qwdu8pTI1Jw5BZSej5
      7HIVLrrbbcxS3D/TrlbaNnJbsqbBBbRNHV1Ln5bYEgRBEAQJrMsA6EMn0p3U
      A++oM0729LOY/MVe3DE1QcVIKNj9mWV4cPYGcJVLnftyNbegDWroMvqIYWft
      IjTyLoM++/40wnD72kIEg7/D2wz5fsI0/Ox7SWBZFABDaQx1wDvq8PiilGP4
      7VspKjQYHCHv9S98iWcXpiJudz6q651ogzw6hw7Q/IJfCr1oojca8p/NDJjP
      zBCJq8Ewl0WGfEcjoR+TJLAsBIAedBzdjzYorWrAxxuPYejfvwn5mGrPHmOX
      4/F/bsGyHbmo9H52y0Xj6K81vNj7UAf04zUJLG3YGyKB9b4ElrUBsB76sU8C
      ywIA6EujaDG8wG0v8Ck/FQthY2SlqhOqM2ijP/hWPanodLfAC/vpH2g3TS72
      idCTIxJY2uChAw2Pq270rASWdQFwE3VCT+6VwAoSAG6g8+ilNg6qq7NFAybF
      h3wg+dL+L8Zh1pcHkF9aAy8cp8/T7ha/2PdAX4ZIYGnDFMMD6yEQCSzrAmAa
      9OVDCawAA6A3nU2r4IX/cpBn5KLvwC2ukI8hf/vY25vU04gtP5yCmkNHW3FF
      C8Cd0JslEljakGp4YH0ogWVtAByFvlykPSWwAvckxMu0FF5IP3kBI/+1JeSj
      JwiqoapLtuV42z48TIdb7EJ/D3rjoOESWFrgpv0M3h4sksCSBxD8zFgJLD8D
      YBjNbGPFiuerJKys4O2T16iHCBqcbrTCTgdZ5L2SJdCfFyWwtOGvsj0ogRUM
      ACyG/myTwPLvvJx4eOHMBYfaCuw2Ro/4uIZblj99eQ1+PiUBg2hE1Nc/kL+7
      7E0TV6HXcyt0DC015f4/23PgvnqulpNGB3O+CYCn5Ak1CawAs9HQwPpUAsu6
      ALiWVkN/PPRnElg+BsALXg6wq9WRtxMO41rGhxXnSHHyuwq/6K8OY9WufOzJ
      LkXhxVo0t3jQGRgpaiYV53ap1bqtmefUnKoF32RhdtxBjP9oJx6as8GSh/nv
      nbYeKd8XoRUngzWwFIAd5nC3BJYWOOn1hsVVGC2RwLIuACJhDtESWD4CwACa
      Ai9sOlykVneCHQ69x8WqkPrL57vVllhqVjEuVDcgyKj4PHGuSo2lYISq0Qp3
      vrIu6OMpnnxnq1pxbMXnNDzAq6EumMNCCSxtGGdYYA0DkcCyLgBSYQ5FNEwC
      q4sAGEXL0YpLjia1KhSs9/dxJUbF1Bdbs/H9qYtqVakjeOrq0FJ8Ds15uWjO
      zYY7+zhchzKg3LcHzp3bL9uUbEfThsT/m7QOjfEr0Lg6FmhpRleob3KrV+G8
      az+iYqffhFVBidJ3EjNbv44njw4O0AU+E2ZRTntIYGmB3bDA+kwCy7oAGEQ9
      MIuRElhdm8L+CbyQfKhQzV4KZAzc89p6TIlJQ0LaaZRVNaCz1EXPQUXEL7qs
      a3cqfE1WQQX+nXRUvSookCMtHvhbEo4VVuIKmmmUv0c6ADgO8xgjgaUF9bS3
      zQfIgyISWO0BYD7MI1ECqxMAuJWmedvumsrICcBNXx0mHzF/Mz7bfEKddfIJ
      bjcqH33AJ4FVG/UK/ImjwQVOaVerhH2fXxmIz1udIWs1PstOf+Kni/tBmMlm
      CSyJ4UAC4DEQCSxLn48rhHm46M0SWD/+xleGVuScr1Lbcv6+yf/x/e34at9p
      1Da64GtcabtUHPnEoffAU1UZqHNcauXu6Xe38RU5/l3ZeoLblRVXv+cw3x+H
      twHEwEw89HYJLC2IMySwlkhgWRcAv4e5RElgdRAAo2kDWsED2n5dRXnkzY2I
      2Z6jXmDsT2rfnOm7wKKNa1Yi0JTXNKpzUxwv4dfZWQfyynEF1fR3Pryww6kD
      5jJPAksLamgvA7YHyyWwrAuABJhLjgRWxw8ce3AFHv40N/6gX27ifcbHqjNV
      6uxPIHA6Ufnw/T4NrOrnRiFIqBET6/efwTDGqb9WE1fvOYUrcPtqmCaACTCb
      AhomgaUF/2PvzIOrqu44ztKpwFBJrbWMtmilSmWpLUiRZQRcECpUFIGUEkRL
      U4UJIBTEUgQbcJCRVhDBFsKSoCBLwyYJJGAiYgoVI5sGgSQMS8BsL9t7eS/v
      3W9/c/6od+687Z57k3Peu+cz85vJTCY3N++ezPnc8zvn9xuh0oNKsJoLALdQ
      eBHfDFSCFQYAC4Klpca+mWv7xN0leQtW7DuDGrcPLQg7FUhSZHewk4iiyTtz
      jW2Mbw7Rotphxn1ZM20Y2PmIf4YpwYoJ0mJcsNYqwZIXACmIfzYowQoBgKXB
      0lBUKNN2saLeeKwkgAjqXp7eLILVsPQ1SAITrf6v7LZdsiatzDMWZV1kYbx1
      hTPYpgQrZprXtm0lGv6T3lVKsOQFQKFDTuTerATLAIBUGLhcUY/77NvMzqqZ
      U60qJlai0Bo9qOrfs1kEq2pwH8Dng0xkHivF3S/aW/yVVjONjaNf4Rxzix1U
      LfxWJVgxwSMxKljDQSjBkhMAveEckpVg6QAwBwbOl9Wwqux27eGh/VvsNKBo
      vNn7mAw1V3hzsiAZTIYovWdr78SRrx8wStYcjg25V+AcZinBiglWxahgpSnB
      khcAq+AcjivBMvREMsrVHVNsOZnG9gMVXXVBFupmT21WwapNmQJZOUfPYZCN
      G+GpVIQxXTjJxLgbAWdxVglWTHCNoo1KDyrBsgsANznw+fzC8YIFYJDxVEPJ
      jVo75IqVcngn6yxkQmtoQNWvuzejYFH0vgeB8huQlYCmsSKiNq1mseKndEn9
      6cKhUY69HXAe/ZVgxQQDYmxyGAVCCZacAEiE81jpaMEC0IWiHDquVjag69QP
      rE66rNHyhbIayEbjvkwmQc0dng3/hJ149+9mfQ/NBrxehOLExXLWaNoOyUpZ
      96mxntA9EcberRQ+dUpNCZakLI+xySFDCZa8AMiB86iiaOckwTIuKRdAh6vB
      i/tn7bQ82c5IK4i4iT1QdhWeLensNJ9r9GOgSuisLlXVoF+i+onBqE1OQv3i
      BfDu22XralDt9D+2hGCxv8kuNLebfT5c+8EOHUAY2J64p97IsUOyjKuVZyg6
      hBl/L8GZ1FN8TwmW9JS0ImIo/VSjBEtOANxJocGZTHCqYL1p3AT98MIPLU2w
      7SjllJF/PoxVBeA9uB81zyeaFoWayePQmLmNnQDkRaur5RAV/mg6VSi6ZhcT
      2GhI3f45Wo+xJlhtn1mHnJNXoCM9zPg7DecyRQlWTNBHpQeVYFkFwEI4l0OO
      EywAQ2Fg8tv5libXHzybjk++uo5Q+I7mw/XUMMvSUv3Ig2jcsQXw+2ESJmh0
      jRaL+r/9BXZQv2ge9z1QOYqopXTb0WK0T9xgaRwkJG0ypoYnBBl/feFsjinB
      igmWxMjE8L4SLKkbO5fC2dztGMEC0JGiBDr+vue0pUmV+uCx02nB0FzVqJs3
      03Z5qfndk/CXXIQZaqdObknBYilPzeOGJQIBksp+1spG5GYhWo4WXUeniZss
      jYfef85Eo8+v71t4h7EZLRS9lGBJT1EMTArtKeqVYMkJgEehWOIkwXoLOiil
      gzZj1vFOpmxD/MXrtQhG05enUT3ioeYTmAd7sj1a0aBVV6Gyz73mV8weHwhX
      4ih+uaH7s0LT6S901+NPE5rhVGklfjg5w5JkTU/7FDr2GiYEF8SyUU0MSrCi
      pLvkz2kMCCVYcgJgC8SSRVEuQdmTtnEvWAB6UPgpGNer3ZYmUlq5CnlS0Hfk
      IyZALXJib/27iETj9vf40nxLXoVn01r+mljJE2EF9+q3DNfkTxOagZpuWxob
      tJ+LrYbp+C0bg8BEiKWGooMENWkqKG5SgiU9CySfFLZCCZaUAEigaIRYRlFs
      gHhGOUGwDlIwNA0YsTibewK9ZVJ6yOKhvo8Po/KBbi2ajvO8vxHhINHhuq7v
      kzwEyq6h8lc/47s3+rnA1cvgxTV+pO56ltOELSpZ3adv158mLaVoT3EYYslo
      RQBIh3gSlWBJzxcqPagEiwcA0yR4mbyJYjTEsyuuBQvA49CxOf8898T53XFp
      OPJlWciUVlW/HhwSYL24py//EILAyjzQ93lWfv5fR6rmufHc9+Z+dwV4CFwv
      s+3zqZubAh4+u1COm3+/0a7SDW/I8iYF4BmIJ1cJVlSUQSxdVfFK6LmhBCsy
      AE5I8jLZgcIDsfgpOsezYOVRMGrdPtw+5T3uSTPt0DkEQ6uqRPWwAWxCFxFV
      Q/uyUgxGPFs28UnJrBd110jnP/n4m8FsydAAR1qTP6h6Patiz0PuqatMqnnG
      Smdq7t3Q2ASA4ZbhjU532MMLsWgUP1WCFZFpEMscSZ/RToghRQlWeADcL1Na
      DsAeiGdeXAoWgMHQsXDrCW65Sl5zBKGoe+kFSytQVUMeYIVG6Wvu6zQsXwID
      3KtPjbt3gGAEKivovu7lvi/f8QLhRVG92XvBy3qSat4xs3zPKUhChuH/Yj/E
      k6oEKyLdBBdq/I+Ez6ejoFUJL8WdSrDCA2ClJC+TDABTIJ7zFK3jUbB26St3
      f39SOtdE2WPGDnb8Phjej3LYJM5TQLSp8DOWitNXLvfm5bLvmV6pGdALWn2d
      vmI81/4pkjwmVXqoujx/Taz5s2EG2pRud89E1uTaCjPXF3CNm7te2MoaQsu2
      0RLAnyCeKxRtlWCFJYGiAGL5sUoPMvZSJCjBilhZv1Kyl8nbJKkmPySuBAvA
      T/QnB5ftOskzSbLGwCdLQ4wZvx+uJx81O+GzE3IIBBASTWP7l0xel6XWCIYn
      fR2f+D071tZCpXSikolftPjyDhmuISZNaKz2T5LNNX52FpRAojc6BoDbIQdP
      KMGKKFizIZYUyZ5PJsSQpAQrPADGy3hqD8BRiCcj3gTrNZ2v8DZyZmnFUHiz
      95mXq3WrES31r841uVIz7dtZNelpvo3paWtgRKtxWTod2fjvDxAt9anzo7om
      9W3kSBPyk3+2jKulzqjXD0j5jw3gOMSTqQQromB1hVjyJHo2nSi8gtKDnZRg
      hQfAAcleJhkA5kI8HoqEeBKsIgrG4dPXuOTqvunb2epFCEhixjTriTb/pRLT
      7XRABC5f4pYh/4WvEYzaGWxfFPeqWFRoWtSHBTwZ69kmeo40ITejlx40PYa+
      MzYNFbWN0tVhATAf4mmi6KwEKyQJ7J6AQogjQHGbJM8mSeSLAIC7lGAFB0AX
      Ck3Sl8lukINpcSFYAHpBxx/e+ZhLsLI+vxxafoovmN4jFagoh1mqRw419XvQ
      1ATP+jU8IsRWhUJBldktpen8pcWRhfKrs9Ff7+J5NCxL5UgT8lNYXMG1irU2
      p0imNzoGgJ6Qg7lKsCIK1gKIJVmSZ7MXYkhUghUWNkZlLuoJ4BzEUxgvgvVX
      CkZA03iKRrJipOFwr1pu+pQfD7TyYuzzx04cGqN6+CDWnoda4/AW6WTCEgrN
      7bZU56thxTJEINp9Z+xvBeE7dtRcmvDDXbAKpfxMj6Wnl+VImfcHUAzxnKNo
      rQQrKAmSyHC2g9ODHoqOSrBCA6A1RbFM6UEjAJZBDvrEg2Ad1jXx5Wl3wlYr
      wuEaZ05i/F8XoSXwl1zgliASlgiyN42/JtZj/YGAH+GomTA6upOJi+aB4fcz
      uYzyHlj5B6vs+e8ls+OJNZFu8geka9MA4B+Qg4eUYAUlQb/lQXAqN0Hwc3kO
      YtjZilCCFRoAD8u+iRzAQMjB6pgWLIp2+j5IS3YUmp0Q2V6bcAQqvjEnF7Sy
      1FK4//U2lwCRqDBhCYc3N9tSmpD6NIb7TKMuK+HNyfpW+l6eEf099P05K8hq
      ASZKP3p+s+kxdeJiuUxvdAwAQyAH6UqwgtJZd19LIZYkwc8lG2JIVIIVHgCb
      Ze/5B6ANxTcQj4uiQywLVj/oGJ6aZXoyzC68HF40/sfeuQBHVZ1xHKQwZepM
      LZ2xM9ZapwWhFAUqAopRLAixLfKsD0Aoj/ISEEEakYfQgryUp8hDIogBoQEb
      BEJ5PyJQGDJE0gRQoW1CeJNsso/sI3f/PfPNhNm5s7u5597snu+S+5v5RnBn
      dy97z8z53/M/5/sf3Cu9uT1ZuPp0T1ikTDjgp71kpvtRTR4LHbKtIKjpabii
      HNUEdn8pd6Jx5z9glTfS5ftirfxnIbtjwQAaUPizenyi7nMEFvQ8HHFd7aCW
      7QrvSRNRIVX2oCOwagx2ruRoD+oB8Al4MMjOAmsEIrjvtU+lw5zJzqnF/Ve+
      ZQuRBMiGNN3tPHs7jOBOG2/6O2gFyVUW/XMnjDTyGdR+IgJakaIWEkm0CXee
      LpIVWHTQgmOKO4U/82CMI7DiCqz6ooqgDhIbiu7JMJX2oCOwYgNgtF16TAHo
      CR4ctbPAWi6KuHzbIz0R9lu4HzXhfktuL5J/6+dIBr4Vi0zG9TxCva50GOj9
      JV2UbRh1ZaxjK2Ob5ZfMh56KEQOTahN6/CFqvyAzrp6euoPdEx2f8Gci1xFY
      MQUWAWAp1PJyXbMHHYEVHwCnIYHih8nG9KDAg+Z2FVjZooi9eZelBdby7ALU
      RPmrPWVEBVmKycDV47fm+lQNexU6Enaa0PVKD+gJHjti9P3U6V1P5cZ1SbcJ
      26dlyYwr2rfF7YlOF/7MgbaOwIorsFKgls0K7sf9ojQkH4+oxo7Aig2Ax0Dw
      tQf1ANgOHiywq8DKE0Ws2nNOWmAdLbyKmijr3omdwAoV5ptfVdqQDh2ypwkl
      T1SeQySe92YYe2/bplEtRq2kWOr7K8YNh1UGLzssPba8/hCbJzp+4c/ECkdg
      xRVYDRRv1PWI+n6S78colWLSEVixAbDUbhE0AIaCB9dENbSjwLoBEBRzIzkJ
      Gum6LdMagCp46gQSDPWZMil4qGO8BJZtQu/ieYikLDXF2OpXr26IhavfC8av
      4fFHSKiZwcrp1OJbHjZPdPzCnwmXqMaOwIoqsAgAq5XbMUkEwAGooa8jsGID
      oJGoW3awB3mGPxO97SiwfKKIEStzpCbARi+lg6htgXXkABJKOBxNpBgULc9D
      ErIJb7f/lVmBRY1Cq8Ouqy4U0v+T6n9l/eABnVq0wpZjF2UFFoWGcwwVpfBn
      PrzmCKy4AisVatlQB+1BAkBrR2Cx2rtZKvEwySz8mdhlP4EVQf/FB6UmwAeG
      b0yIwArszUYiCZ09Y3E1SZ6KscMsrWKFck9BQOHXhkXR9q2IRSg/T84mHPMn
      WCHr5H+lBdahf19hu8JA4c88OOwIrDv8Isr1NRRVrnhSa5ike/E6p71mANo4
      AuvOb7Eb6kk3ee1/AQ80UQ/aVmD1lAznfXjUZhih9Lkn5FZLsjKRSLzvz7Ym
      dOShk5HWThN+CvKzBvUzfq0FZ+kEYNQqd6G0c7uk2YSHhVhiJrDk7UF9+DMf
      mjkCi2gT4xo/g1q6J+le5KiyBx2BFRsAD5I4UE+qyetvDj5Mt63AenFuYgSW
      q2dXyU3ka5EwNA1lXZ8017392cfp/Wagzuu/aWZp31e49HZ193YFRTahAoGl
      3h7kHf5MzHMEVlyB1QdqWVVPEpO2dViVPegIrOjos365r6TyDn8mLom6x04C
      q9zkChaFQhuhYuQgLo1GaQXKrMDwTJ0EC1DTTwv7vsjyUyOurNuEe0y0ADn5
      zQ3WG5ABXKrrJ2xsIrAai/JCHTdENUjwfRgHNWysJ3AEVtxg54t2sQf5hz8T
      Xe0ksK4ABDUNlZkA7+m7FkbwzJ4uJ2RmJM7yDezMghAK1MuKamAfCqIW4coS
      mX7m8KWvNLfva9FcXbsHBWXRJtyU8520wLpQ4mJhD/IPfyZ6OQILbeJc5zao
      JeUutQd7OAIrNgCeA8HfHrRH+DOx2U4C67QoYvhHR6UnwaKbHtSEP3OT3Km5
      PyR/TFZmfFKjuNCuXqH9S2YrlJdrft9XMIjSTo8pElfWu+zP/SJPemzdKK9k
      YQ/yD38mdjgCK67AGgC1LEvgPXhIZdNKR2DFBsBndrIH+Yc/EwFRP7aLwNoq
      ipiScUp6EjxwtgQ1UXW+UHoi165dhRm0G9fhW7nUcPl3fAEB/VmBYDG476sK
      wRM5HK6HYnbMMHDJIalx1fiVdWzsQf7hz4Qm6gFHYEUHwA8Vd+AvElU/Qfdg
      ksqmlY7AijvmfHazB/mHPxMT7CKwFooiPswukBZYC7K+NrKxnE4SJmNDtX9L
      hik70vNuGkuB5Z46ERB45/+Vw/XQRn3t9i1EEsw5BO+8mfB+MAe+NR/Sapue
      FuMypcZVqwlbWdmD/MOfiWmOwGJ9VL5jgu7Bv1TZg47Akm1IzN8e5B/+TOTb
      QmBFLp3vPF0kLbD6LNgHI3imvSW3UjK8P+ShDfWyYcq6vEQepe8JVvb7Z9lc
      kz9zI6oJnTkNEZotajH91//lNmqDEcmVUq/0uOo9fx8re5B/+DNxSVR9R2BF
      B8AwqGXe3WYPOgIrNgBO2tUe5B/+THSwg8BqKYr4z/UK6YnwR4M2oEoLQ4ep
      gGJ9VZ0rgAza5WLpNgZV35xH2OulPVbsBFa75gh73Ki6+K3uNT42oXfeLGof
      4X5nInwfr6AeZu4pbyICWuWUHVfvbctDAvldPRPwD38mutRhgZXCrNO5nosJ
      +P0nq7QHHYFlpo0Lf3uQf/gz8bEdBFYDURUAJcjg3v7rpSfDIwVXUSNaFcq6
      PSU3kY8aDAlokpfbTN8ZAgqXZrh6RatxEFSuW617jY9N6PtoCfXo8n7wHtmY
      4YpyuN+egEiajtkiPab2fX2Z3RMd//Bn4vM6LLA6G7jew1DLo7X8++dyzbQD
      8EwdFliL7GwP8g9/Jtyi7mUtsPSqtOvMbOnJcPTqr2CEyvVr5O2oLRkwQvDY
      UenP9q1ZDrpLk8eyFFiVm9YDgvIhL+te42MTalcuQ9i/lB+p3bwOz+xp8P89
      AxZsZ8q49PhD7J7o+O+1IAKimjgCi02/KD1/q8Xf/pdsbCf+p2yXJDnY+abd
      7UH+4c/EMDsIrDGiiJlbck3ZhP5gFWqA7C5xKk52tYQm83gETx5HaafWcqfz
      2reEdusmqMP6Ey1YCiyt+H/Ud0qiAzytKIlVpOqi05haSXHUqrr0HZ3wrK6y
      F54xvrr25wGoRrt+Db7Vy+BduoBOO0aSMnWH9Hh6flY22yc6/uHPxHhHYEUH
      wM/uls25AN5WaTs5Ais6APrayR60b/gzcdwOAuvnooicwqs0ycnW2v3nYQDK
      1DMhNmhCDxzad0cMBE8eo/5aFWOGmPk8srQEJAo4iSp9L7DAriy5nlmF+TAJ
      nQQ0/F1tm1JLjHjsP1tiaiwtzy5g+0THP/yZyHcEFqtTd3pa2NweTHUEVmwA
      7LK1Pcg//FnPrzkLLALAcQi0cBj3D8mQnhRbjs+EeGvNhELUOV2peOnSAWI1
      jQRCacdWLAWWd+67gMCdNt74qtzTbSSyEi0fRCCxHI/2aVnS4+h7f0zHdZeP
      9RMd//Bnor0jsNis/OiZUgu/e3OVtpMjsKID4KeiNM72IPuxJ88iOwis10UR
      I1flmFp52PzVRRBGGo+2a65MvAQPH5AQLwqvMRQi0WR4lW/0YFgiEEDpk4YF
      J+0Ni8W6gxdoTDBrz5Cq4NSQKtY4Ais6AJpBLbm18LtPV2k7OQIrOgDe4W8P
      WgfAefDhlqhG3AVWk+oeFyJk18zkSKfFAiENBqDIFRXCpdoaDOzfrXuNWXsG
      nw/BUyfo7zL7r6zinjDSsk142+3HT4ZmmBpDe/L4nx7kH/5MuEX9wBFY0QGQ
      D7U8VE8CRtef6gisuMHO3/K3B60DYD548RJngUUAWCOKaD1xm6kJcs7WMzCK
      Z86M5HZFf3MUtYvQiotQmtKWm7DSbyCnzuhSq15HD8Ia1Anfsk04oDoWR7I6
      pG1n80Rn//BnYmgdE1jdJa57FtQyycJv3kKl7eQILAVtKfg9TD4FXuy1g8Bq
      ZdHioQy58yUuGEKroqaUSRFXb4wAgkEKXXb17mZ0wzidxEtkeZcu1H8v9b2C
      wPViF5l/I/WmsgidXKTPM2kTZh6/ROPATGXnFrF8orPnhEIcq2MCq5fEdT/6
      f/bOPTjq6orjBLTYh6BtrY92tJ22UnRGK1gKRdoZQiza8jJhKgEEH4DQDOKE
      V3yRjEAiCB2MGBpJILwCEfIiREwJEEIgvGpAHiEvItVAwDw22ewj+/j2zplJ
      Zof5RXd/dzf3/nbvZ+b7DzO77Nm7k/v93XPuORDLUY7vfJnItLMyWNoAyDBU
      epB/+HMj5MHN9JCEBku7U6vD6cKgmCxdG+UfFufS6700WV7cXuMSvT9cTips
      N017zpvXUCF+b+C8UqPRXf4SnPV1vsRILRb8A43l0ZUmrL3ehoHTMnT9Zp5d
      vl/GJzr+4c/ieUQZLG0A1AreEB4wWP1LuDJY2gAYwNRhqPQgf8wbIRcJRjBY
      j3Y1Essuv6L7NOK1tOPwBXtBLppHPuZXY9X85yGwf5oPBo1zMU2d5H3qKz0F
      vUVr1DPoNkpjRgBuN6XqWIF7t9jNRzJRt6p1YgSZwY7Vy+EnqJaLvae3ono2
      s81BaWW9p551jW3Cn+iCb/gzsUYZLGnrSOb26UL+k7cbTP2UwdIGwCzDpQf5
      Yx4PufgfU1+ZDRYBYAcTMWXtQd0ma/OhKvgCdQJ/ZzGahnDNBaTXm+OXUiNR
      Bp0I+TgsmeYa9haW1A+7/l+K32BQa4+JSUV6fyc0q1D0E11wDn8mbjJ9Txks
      zc8+HGIp1vF9vwsxbNDxWceFkMEqN2R6kH/4swVy8YwRDNbPu447W8x2PPDK
      dtoI9Yw8KfL9VhiZG8v6tWiJGEGmw4c+UJQOdF6tB+Fy0biZpmGDfasrmv4c
      OOCpeyKDZd2+CdZt6SBtToUlZV23OtYmomPVuyAlJcD89iLY8nZDJLNSSnWb
      q5Fv5NOwcNFPdME7/JmIUgarx1tfX0McLqYfB2F6kAAwMRQMFmV95GFsL/eE
      yoVc7JHYYGlPaT98vgH9ojbq2kB/MGUT8k7WQwdkkJzVlyldZk6Io67trc+P
      605NmWZMhvnNWFg2rEPnsVLq49SFo+JMV72Vz7Ju2YjexjRlvN4TOxo/5LZZ
      IYKlW0/qNlc/ZL+NqoZWqZ/ojD/8mfhMGSxtACQbZZYagCdEpgeVwdIGwBrD
      pgf5Y38RctHJ9DMjGKzbmf7LRCRmV+jdSMmcpRVfRm9hWf8vHUaFJz3IjzV9
      A+fw5R3obWI3l9P66tWWw9USP9HxD3+W7YaNMlian380xFLgw2dNEpkeVAar
      x32yEaIQ/zB5D5MLcrFQToOl3Z3azkRjcP6+8jOuDXUJO+0IOE4nWkYP02tU
      6CRJBK5rX/MYLCp2p0UKPJTSm/HBYZ7fAr1elie64B/+TMSHgMGapPPm502I
      w840UPJbj+HKYGkDYJJU6UEBADgKuag0gsEiAMQyESZLJwbP/4RrYx2fWETv
      Eyg6Sw9xGRVLajIEQbVfXON1SooRYKgmb0x8IddvYMjCHHTYHNI80QX/8Gfi
      KlPfIDdYM3XGkAaxRHvxGYdCDA1MfZXB0gbA3hBLD2qXE8nHU0YxWGFMeUxE
      9TUTfjpzK9cG+3BMFr74shmBoH3pAi6T4qyrgSisW9O5O8AHEFoztnY8a0+D
      xL+82S7NE13oDH8mxiqDpRnD3yCWPRKnB5P7MJTB0ozvfiYnRCP+YfJhyMdm
      IxgsAsBdnsfTxyobqXcRx0ZLr0/ZfxH+xG02o/mPj+pPs40bDYFQw07WuJPP
      IFZeRCBIL75MRemca06/HZme6EJn+DOxWxkszRj6M5kgDgvT97/jIfcqxDBK
      GSxtACwN9fRgFwAuQS46mAbIa7C0r6KaAIJuBvaNpJuFXJqQVITrLRb4A1tB
      Ducg6BUQTdsr0Twx0K1KP0KDm6NWH+BdZ/qtsN+M4Z/o+Ic/i79howyWZhyZ
      EEukhP26KD2oDFaPprcq1NOD8g5/JuYYxWARACKYOpmIbSXVfjFZP5mxBduP
      1PCbk/mz+GqYTpVDNLbdmXxNVp8cRCdh/mBXWS3u6UoHc2rjgUrpnuhCb/gz
      EasMlmYckRDLdgnbAFB6UBkszdhGgRHq6UF5hz8Tp4xksAgAL8GD1KJLCIuk
      TZRbTycU0jw7PbhbW9A0VH8H+OZRT9ANRKHwx0GyJL8PHs7VN2H0sn20Jv7Q
      RywVLIB9TLmCdRrycUkZrB4bxFohDhNTf9nSg8pgaQNgE+ShQoK/dfmQk8eN
      ZLAIAHNB+PUki9T/H+nUvLLd2glfsBfmcZmS9rjXIQf8J3HUeNRqga9802bD
      3H8fxW2T0/xqrhTS8ZQyWFJ2pX6W42RApvQgAWBqMBosAHcydUBhBJIlMFj8
      VzN3Hq3F7X7cmO99aRuSCy+g0+mCN5iXLeExJVS/JQv2/Xu5YqF4srb5YqzI
      1P4oerPf1o8ZbppFqZCSTcpgacYyXbZUD4BkoxoSADOD1GC9DIVRaGa6w2gG
      iwDwT3hw8IsGDJhKm7Tf9NCcTDoFsXY68S3QcGd2cqPHjNDNPVfTN5AFt91G
      cxX1Dbr+LY0I8qaz+w2TtSdjxX1bMPdEPRTSQjdsgtBgxXDGcjeTA+Jo8hxJ
      A6AvUwPEMFwZLG0AlEFhJKaKNVj8x8BOj/odMkW02fpR97ETraTsCrR22PEt
      0KBn+6f5NAzZ9EIUmoc94kX39gmQDfOKd3zo4v40Dbm2HyyCu70N30V5VSOm
      rztEw7j9vE7U5+pk9Q0opGd2EBqsBX6IZz/EEi5BIfVVpjBlsDRj+h0URuOg
      UQ0WAeCvni0cGlstGPXmXtpw/a27pmdgftox7xuVOhxwXDgH256dMC9/C6bo
      iWgaNtjToNDsQtlwnD/bo6FqiRhB7Rhse7PharwOL6Du+R//pxJPLsoJwLqQ
      6L2v3jRDYQhOKYOlGc+rEMtHEqQH1/RhKIOlGdNqKIzIr41lsLT7ZNUzEXaH
      C6+lHaeNN1D6U1w+DZH2eeyKywVXw1foPFFGbRGc9XWQkdbIsaCi9ZGPo33B
      HFgzM+CsrYa3OJwu6j01+f0DdHkgkGvx4ocllMZVGIrHlMG6NR7cy+QGIa64
      nKmfwCHCw5XB6nGw83UojMhKOQwW/2TtYnjwybE6L+qyuEQ1RM+vPYissjqY
      bQ4EC47PT8Nx7nPA5QTh5UlVZmkNprDvY+C0DPp+Aijq7r61pBoKQ/KBMlia
      MZVCLCOZwkWmB5XB0oxnAhRGpYHpNukMls7p9CvgwZXGNh9ShvwF1pGrDtAN
      tq+azAh2XG431Tyt3FOB8GX7dNzk5DpBpNmUCmPfsFEG69aY8DrEsoZpg8j0
      oDJYmvHkQ2FkxklisPgBMNbzONXpcmNV7lncoSNVxaNBMVmI+bgMOSfq6dac
      0bHYHThy8RreyzlLY4ZYTRrF2YuiNWRrSWuqMDzRymDdGhMelMD4miCG4cpg
      acZyH5OqgTA2efIZLP6UYS48qGpoxV/eLqCNWoQenJ1JNUnMoFBbCYlNF6X7
      Si9eo35gL68/gqGLcjibgPIrIqEQNerUKpgoVgZLM64zCD1qmcKUwdKMZQkU
      RsfJdL9kBosfADOYmpkItxvYcriaWi/Qxi1Yd7+wBSPi8qhQOzG7gmqYSi5c
      IyNhC1zhNhWF1zW24fjlRmSXX8G6gvOYl1pGY2p+MWsHfTZZ9MtXd1KNm0Ld
      sJHYYC3249+sNxB6JPVhKIOlGUslFMFAnLwGi/80K/PWE5pFGSd6IW3IP4z6
      N/N2URuCMfGFiFp9ADOTS7Ag/Xi33tpxGvG7zpAWZpR3//vslFLqOTU+sYhO
      7n4fm41fMbNyZ1fhv9yiQnlW30WpSUXQsiJIDFZ8H4bqd6SboX7+mz8vGAwW
      XTpQBAs1TGGSGix+APyfvTP/raqKonALFLEaJAZRUWKEACaIJCYSEQcSUhNR
      MYIDAQ1CRBmMVjCMNgpImGslxkamFimkINWGKjRqK9giiAw1rUAZrMyYQq08
      hpbKW66cn3rpbWkt77LfOftLvj/gnvty38o5Z++dQH9HLQ6XhzB80Sa0fMHM
      M1QFyOpATGKX94pQFXyopNrwyq4Km5YasLwA2AN3OBSBb32iJQFrGRSb6Gdr
      wDIAaEXfppWoRenxSry8MI9z7DRoXc8dqykZ21HufzctTJfoLC6tsHEkYM3U
      40G3AxaAm2kIik1kWBqwvABoR2fTC6gFS/8x+vNC8OjQ+cAT5B2rj3OKcZbH
      tvWwnvaMIQA2QtEKG/sD1oN6POh8wBoJxTaqaDuLA5YXAHfST2jVlcOIZ63b
      jU5vrHY+AEVAU5E4aN732LDziOmnVQ+baN9a7+puehmKjRU2d2jA8gKgTI8H
      nQ5YhVBs5C37A5Z/0JpDQ1eOfMn59bC5XM4Bxc4Ho+bajb3B2MfKzIxsgG9p
      H5939D4UrbBxJ2At1DEibgYsAN2h2EqROwHL/+hwIj0ML+bSdWruHrCtgvNB
      qYkNV02l4+4/TqMBqmka7VXPe4mlh6BohU2UBSytIGuQnhqw6gJgLhQ9Frcm
      YPmP3Xme5qMupodUyjfFpm9Uqxd1Z6uWplCg96RszFi7CyVHKnAVjtIk2uEq
      7+MJKFphI/dPdHoEvkEt6AnYy74YogGrbiGWDna2nlSHA5YXAF3oR/QYfKg8
      X43MwkMYlvIjOr6+yslQ1YW9usawOCBra5nZ6bsKl2gWfaqxJfoAvoBiOyvd
      K8VvGACpsJeZGrDqAuBZKLZzlsZrwKq7q9WfLqUV8MdUIi7LKzX9tVghZ1uY
      MhWWfaeux4T0babD+tHT59AIwrSAjqa3NXHd29ILULTCxr2A1V+PB50LWF9D
      cYHhGrDqAUAcHUCX0JNogJN/X8DGXUdNV/KXFuSh67i1iB0cFWHK7Mg9yRmA
      76ZtRVp+KXYcLDcX/xtJDc2nifSuZqz1m1C0wsbNgBVHK/R40I2ABeB2qqMr
      3KBAA5Yf/hewe9MZdGtjJp+HLl7CLl765g6QmUE48tPNZpwN20IEeqeLHezN
      7MHHpuWYHbfpvDe1cvMBbNl3CmdCVf+3M/dKOpS2u0br+wsUV9itAcsLgHQ9
      HmwaAKZEacB6D4pLdNeA1UQA3EIH0hS63QSuJsI+XOaC+HdFx5DBwJO8vhgf
      ZO7E+LRtGJVagCHJ+Xh6Vi4YyqjRXCzvNT4L1MwuTODOE3fMzExCjp4xQW55
      XqnZTSsqO4NT3FkLh9FcTtIs+g7tEYG1vB+KVthYFrD0Tg56Rvgb/GGUBqy9
      UFxivgasZgIgnj5OJ9NMWkrDiD7+oZtpCh1GOwewdsmQxX6abonHIZNUDVie
      52xj2fzNkhiiAcsLgD6QRbVF37oCyOQvGqcBq7n4z5nqQ0fQuTSb7qVVuP6c
      ooV0OZ1IB9LONDbgNWpNyyGLoRb9BicLDvLxGrA8z5oJe0jSgFUXUzwli3UW
      fevuhVwGacAKEAAd6EN0MB1LZ9BU+iXdRHfQffQ4rTT6U0UraQX9k/5Gt9Bc
      mkHn00l0BE2g3WgbQeswWOAf/40W/c7ugVyGa8DyPOsQ2MN9GrC8ALiJhsQN
      YbcIAD9DJhs0YCmBY0bmyGKxhWtcCJkURFnAWhLAjnc1op/iGKIBywuA10Qe
      XVkEgHGQyWXaSQOWEhgAOgoc7PyIhes8BnLpHkUBKz2Ad5Wjx4PWBqyfIItk
      S0+G/oVMkjRgKR7cKbM27Ld0ndsL7rszTwOW53lH6PGgfQELQFfI4wFLv3e5
      kEkZbaEBSwmqr9gByGKqHsVen2MKDViEALiV1ujxoHUBazZkUWTxt+5VyCVB
      A5YScUxLC1mEaSeL13so5DJIA5bnmfMQvUzTgOU7fu0EZJFoefX+RchkjQYs
      JeIAWAFZ/OBAy5BzkMkGDVieZx6L6KWLBiwvAJ6BLGrMrFgBONjypJq214Cl
      RAwAbel5yOIVB9Z9leQKGw1YnuKPMKKPnQH/nudEScD6CrLIduBb9xzkkqgB
      S4kYAEZBFmdpvAPrPgBySdKA5dPPJ7qYHPDvOUVswPJWtdWIO5K3HAA3CB6g
      XqIBS4kYALZBFksdWfc4Wi65wkZ4wFod4LuaoMeDFgQsee/xNG3tyPduMeTy
      sAYs5ZoDoAfk8ahD6/8Z5JIgPGBlB/ieOuvxoBUBqwSyWOTQt64f5LJUA5Zy
      zQGwALI4SGMdWv++kMsaDVj/sXfHrlHfcRzGP20KQUsoFClqIaTg0CGTCu1S
      KE7qIu0QxEEIOriUNmjRpVIK4tBBJ0VKjdg1XTo2IGlF0nQpYoa0U2mXVoRq
      NSBV72m44QfHtXhJHN7x97zg+QMul7u8L9+731UD+MnjwY07sIC3yLOrWgJ4
      MfjL7u8DIw4sPesjqj/JcrqF1x/7NfkTNg6s5rZ/4vHghh5Yl8iy6Av6KEcc
      WHpmgPfI0gHGqmWAs+T6yIHVd5yebqFWOLCqAWwG/ibLiWoZYCe55h1Yep6/
      Z+2a74OLs+jAqgawRL7jDqy+gXWYLI+BrRXAx1CPcQeW1g3YBjwmy+FqKeAm
      ud52YPX8tzHdqAOrb2B9F3cx3yAetTfOObC0bsApstwHXq6WAk6S60sHVnP7
      d5Pth1rhwKIZWMAO8kxUSwE7yHUHGHZgab1vrP6FLNPVYsAo0En+hI0Dq3ns
      /Obx4IYaWGfI8hcwXC0GLJBrwoGlNQPeIc+7Va2/X74n15HAgTXnkIg4HuwC
      LqYNLGAo8NIAF6pa/1z3IblmHVhaM2A68KrhL1S1/n45Rq55B1Y1L1A8HuwH
      XAkcWPsy39PY+ue6rcATMnWAMQeWVg0YAZbJ8mmpgFeBR+Qad2A1F0y8TZ4p
      B1bfwJohy1KpC5gl12cOLK0acJQ8b5S6gG/Idc6BFXvRyg6w3YHVOA9sAf5p
      +xX2UwGT5PodGHJgaVWAGwD+kcwEHCTXHeCkvztVwF6yXK8VDqyegTUVOIJf
      L3UBrwAPybXfgaWBAW+SZ7LUADYBD8g178BqvmbqLjk+cGD1DaxbZPm21AOY
      IdfXDiwNDPicLMvASKkH8BUaxJz3E83xoAOrxw3yHCr1AN4n1yPgNQeWBn3F
      /QdZrpb6AHvRIOb8Lk+a40EHVrR7wKZSD2AYuEeujx1YeirgAHn2lPoALwG3
      0dP8GHCcu+zxoANrAF+U/hNwmVw//9/AMjMzM7M15sAyMzMzc2CZmZmZObDM
      zMzMWl/rfwBmZmZmDiwzMzMzB5aZmZmZA8vMzMzMHFhmZmZmDiwzMzMzB5b9
      224dEgAAAAAI+v/aGRYCHwAAECwAgEX/7f4uV/f8WwAAAABJRU5ErkJggg==
      ">
    </a>
  </div>
  <nav class="menu-hybrid grid-11 omega right">
    <div class="ss-icon ss-symbolicons-block right menu-toggle">&#xED50;</div>
    <div class="menu-desktop">
      <ul class="menu-profile right">
        <li class="dropdown-container">
          <%= dropdown_menu(logged_in, greeting) %>
        </li>
      </ul>
      <ul class="menu-www right">
        <%= render partial: "ama_layout/menu_www_items", locals: { logged_in: logged_in } %>
      </ul>
    </div>
    <div class="menu-tablet">
      <%= tablet_menu(logged_in, greeting) %>
      <ul class="menu-www-tablet">
        <%= render partial: "ama_layout/menu_www_items", locals: { logged_in: logged_in } %>
        <%= tablet_signout(logged_in) %>
      </ul>
    </div>
  </nav>
</header>
