<li class="has-submenu">
  <%= link_to navigation.display_name_text, '#', class: 'link--no-underline' %>
  <ul class="submenu menu vertical">
    <li>
      <%= link_to 'Account Settings', Rails.configuration.gatekeeper_site %>/user/edit
    </li>
    <li>
      <%= link_to 'Change Email/Password', Rails.configuration.gatekeeper_site %>/user/edit
    </li>
    <li>
      <%= link_to 'Email Subscriptions', Rails.configuration.youraccount_site %>/subscriptions
    </li>
    <li>
      <%= link_to 'Update Address', Rails.configuration.youraccount_site %>/membership_update/new
    </li>
    <li>
      <%= link_to 'Manage Credit Card', Rails.configuration.gatekeeper_site %>/membership_update/new
    </li>
    <%= navigation.sign_out_link %>
  </ul>
</li>
