<div class="header">
  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large">
    <button class="menu-icon" type="button" data-toggle="offCanvasLeft"></button>
    <%= link_to(image_tag("ama-logo.png"), Rails.configuration.amaabca_site, class: "title-bar__logo") %>
  </div>
  <div class="top-bar" id="main-menu">
    <div class="top-bar-left">
      <%= link_to(image_tag("ama-logo.png", class: "top-bar__logo"), Rails.configuration.amaabca_site) %>
    </div>
    <div class="top-bar-right">
      <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
        <li>
          <a href="https://albertamotorassociation.zendesk.com/hc/en-us" target="_blank">Help</a>
        </li>
        <%= navigation.top_nav %>
      </ul>
    </div>
  </div>
</div>
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
  <h2 class="side-nav__header">Online Account</h2>
  <div class="side-nav__content">
    <ul class="side-nav__list">
      <%= render partial: "ama_layout/main_nav_item", collection: navigation.items, as: :nav_item %>
      <%= navigation.sign_out_link %>
    </ul>
  </div>
</div>
<div class="javascript_errors error_notification" hidden></div>
<noscript>
  <div class="mt1 large-12 columns text-center error_notification">
    <h2 class="mt1">There seems to be an issue with your browser.</h2>
    <h5>Javascript is disabled in your web browser.</h5>
    <div class='fieldset text-center small mb1 block'>
      For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>
    </div>
  </div>
</noscript>
