<footer class="page-footer">
  <div class="page-footer__container">
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        About Us
      </div>
      <ul class="link-list">
        <li class="link-list__item">
          <%= link_to "About AMA", "#{Rails.configuration.amaabca_site}/about", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Careers", "http://careers.ama.ab.ca/", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Media Inquiries", "http://news.ama.ab.ca/", class: "link-list__link--white" %>
        </li>
      </ul>
    </div>
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        Get in Touch
      </div>
      <ul class="link-list">
        <li class="link-list__item">
          <%= link_to "Contact Us", "#{Rails.configuration.amaabca_site}/contact", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Locations", "#{Rails.configuration.amaabca_site}/centres", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Social Media", "#{Rails.configuration.amaabca_site}/contact", class: "link-list__link--white" %>
        </li>
      </ul>
    </div>
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        Quick Links
      </div>
      <ul class="link-list">
        <li class="link-list__item">
          <%= link_to "Blog", "#{Rails.configuration.amaabca_site}/help", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Knowledge Base", "#{Rails.configuration.amaabca_site}/help", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Email Newsletters", "https://youraccount.ama.ab.ca/subscriptions", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Site Map", "#{Rails.configuration.amaabca_site}/sitemap/", class: "link-list__link--white" %>
        </li>
      </ul>
    </div>
    <div class="page-footer__col">
      <div class="page-footer__col-header">
        Interesting Fine Print
      </div>
      <ul class="link-list">
        <li class="link-list__item">
          <%= link_to "Privacy Policy", "#{Rails.configuration.amaabca_site}/privacy-policy", class: "link-list__link--white" %>
        </li>
        <li class="link-list__item">
          <%= link_to "Terms & Conditions", "#{Rails.configuration.amaabca_site}/terms-conditions", class: "link-list__link--white" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="racetrack"></div>
</footer>
